.button__outfilled {
  padding: 1.1rem 2.4rem;
  background: #292928;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  border: none;
  border: 1px solid #292928;
  gap: 8px;
}

.button__outfilled {
  background: none;
  color: #292928;
  font-weight: 600;
}

.button__outfilled:hover {
  color: #6072d8;
  border: 1px solid #6072d8;
}

.button__outfilled:active {
  color: #4056d1;
  border: 1px solid #4056d1;
}

.button__outfilled.disable {
  color: #989898;
  border: 1px solid #989898;
  pointer-events: none;
}
